@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


* { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --top-margin-desktop: 0.25rem;
    --top-margin-mobile: 2rem;
    --main-color: #1E1F30;
    --secondary-color: #fff;
    --tertiary-color: #bebebe;
    --font-color: #fff;
    --link-color: #ffffff;
    --link-color-active: #d3d3d3;
    --link-color-hover: #bebebe;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    ),url(../images/quiz-background.jpg);
    background-size: cover
}

.header {
    background-color: var(--main-color);
    color: var(--font-color);
    padding-top: 0.75rem;
    padding-bottom: 1rem;
}

.header a {
font-size: 1.1rem;
font-weight: 200;
margin-left: 0.75rem;
}

.header a:hover {
    color: var(--link-color-hover);
}

.active {
    color: var(--link-color-active);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    font-size: 0.75rem;
    text-align: center;
}

.app {
    background: #fff;
    width: 90%;   
    max-width: 600px;
    margin: 50px auto 50px;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #1E1F30;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #010101;
    font-weight: 600;
}

.btn {
    color: #333;
    background: #fff;
    font-weight: 300;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){ /*when the buttons are enabled, the hover works, after that gets disabled*/
    background: #222;
    color: #fff
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; /*it hides before answering*/
}

.correct{ /*color change after answered*/
    background: #9aeabc;
}

.incorrect{ /*color change after answered*/
    background: #ff9393;
}

@media (max-width: 400px) {
    #question-images {
        width: 200px;
    }
}