.grid {
    display: flex;
    width: 100px;
    height: 100px;
  }

body{
  background-color: white;
  font-family: Arial, sans-serif;
}

header{
  text-align: center;
  height: 100px; 
  color: black;
  font-size: 30px;
}

