@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --top-margin-desktop: 0.25rem;
  --top-margin-mobile: 2rem;
  --main-color: #1E1F30;
  --secondary-color: #fff;
  --tertiary-color: #5a5b77;
  --font-color: #fff;
  --link-color: #ffffff;
  --link-color-active: #d3d3d3;
  --link-color-hover: #bebebe;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
  line-height: 1.2;
  margin: 0;
  color: var(--font-color);
}

h2 {
  font-size: calc(0.75rem + 1.5vw);
  font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 600;
  color: var(--font-color);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.25rem;
  font-weight: 300;
  background-image: linear-gradient(0deg,
        rgba(0, 0, 0, .4),
        rgba(0, 0, 0, .4)), url(../images/fondo-home.jpg);
    background-size: cover
}

main {
  flex: 1;
  overflow: auto;
  margin-top: var(--top-margin-desktop);
  margin-bottom: 5rem;
  display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
  background-color: var(--main-color);
  color: var(--font-color);
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.header a {
  font-size: 1.1rem;
  font-weight: 200;
  margin-left: 0.75rem;
}

.header a:hover {
  color: var(--link-color-hover);
}

.active {
  color: var(--link-color-active);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.info {
  width: 25%;
  text-align: justify;
}

.footer {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {
  font-size: 0.75rem;
}

.uade {
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper {
  margin-top: 1rem;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.5rem;
  column-gap: 3rem;
}

.member {
  background-color: var(--tertiary-color);
  width: 25%;
  border-radius: 20px;
  padding-bottom: 1rem;
  color: var(--font-color);
}

.member img {
  border-radius: 20px;
  width: 85%;
  margin-top: 1.5rem;
}

.member h3 {
  margin: 0.5rem;
  font-weight: 500;
}

.text-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.text-container p {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--font-color);
}

.text-container img {
  width: 90%;
}

.text-container h1 {
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
  width: 10%;
  height: auto;
}

#carousel-container {
  width: 50%;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -.25rem;
}

.carousel-img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#prev {
  left: 10px;
  background-color: #5a5b77;
}

#next {
  right: 10px;
  background-color: #5a5b77;
}

.description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--tertiary-color);
  padding-bottom: 1rem;
}
.description p {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

#gameTitle {
  margin-top: 15px;
}
@media (max-width: 760px) {
  .container {
    width: 100%;
  }
  main {
    margin-top: var(--top-margin-mobile);
  }
  .uade {
    width: 75%;
  }
  .header {
    text-align: center;
  }
  .wrapper {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .member {
    width: 90%;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .text-container {
    width: 100%;
  }
  .text-container img {
    width: 100%;
  }
  .text-container h1 {
    margin-top: 0;
  }
  .btn {
    width: 35%;
  }
}